@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1.200 & display=swap');
body {
    margin: 0;
    padding: 0;
font-family: 'Poppins', sans-serif;
color: #1E1E2A;

}

/* HEADER*/

.header-container {
    height: 100vh;
    right: 100vw;
    background-color:rgb(255, 236, 252);
    background-image: url(img_background.jpeg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-position: 800px;
   background-size: 350px 350px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
box-sizing: border-box;
padding: 0 112px;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 150px;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

/*COLOCAR TRAÇOS NO PORTIFÒLIO*/

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: rgb(4, 16, 27);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display:none;
}

/*MENU*/

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
   margin: 10px 0;  
   color: pink;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 40px;
}

/* ANIMAÇÃO MENU*/

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 38px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #ffffff;
}

 #toggle:checked ~ .menu {
box-shadow: 0px 0px 0px 100vmax #ffffff;
z-index: 1;
 }

 #toggle:checked ~ .menu-items {
    visibility: visible;
opacity: 1;
 }

 .box {
    width: 650px;
    height: 200px;
    border: 2px solid transparent;
    right: 300px;
    top: 300px;
    margin-top: 80px;
}

#texto {
    line-height: 2;
    text-align: 200px;
    right: 50px;
    color: black;
    margin-top: -50px;
    top: 20px;
    font-size: larger;
}

.row {
    padding: 0 20px;
    display: table;
    width: 100%;
}

form {
width: 30%;
margin: 230px;
box-shadow: 0 4px 8px transparent;
margin-bottom: 100px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid pink;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button {
background-color: pink;
border: 1px solid white;
color: black;
font-weight: bold;
padding: 10px;
border-radius: 3px;

}

button:hover {
    background-color: plum;
    color: white;
    cursor: pointer;
}

input:focus, textarea:focus {
    border-color: pink; 
}

input:invalid, textarea:invalid {
    border-color: red ;
}

input:valid, textarea:valid {
    border-color: green;
}

@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    button {
        width: 100%;
    }
}



